.main-text {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  color: white;
  line-height: 1.1;
  font-size: 30px;
}
/* background picture */
body > header {
  background-image: url("http://www.hpcf.upr.edu/~abel/phl/star_field_full_gal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 0px;
}
/* my portfolio text */
h1 {
  color: gray;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 45px;
  margin: 30px;
  font-weight: 800;
}
/*branding*/
.navbar-brand {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-left: 15px;
  padding: 20px;
  font-weight: 800;
  color: white;
}
/* nav-bar buttons color */
ul > li> a {
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-left: 15px;
  padding: 20px;
  font-weight: 800;
}
.navbar-fixed-top {
  background-color: black;
  margin: 0px;
}
.form-group {
  color: gray;
}
#contact-me-section {
  background-image: url("https://static.pexels.com/photos/33999/pexels-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 150px;
  margin-top: 0px;
}
.top-button,
.top-button:visited{
  color: white;
  border-radius: 0;
  border-color: #222;
  background-color: #222;
}

.top-button:hover,
.top-button:focus {
  color: #d9d9d9;
}